@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #fff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    margin: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    width: 500px;
    list-style-type: none;
    align-items: center;
}
.navigation-user{
    justify-content: flex-end;
    margin-left: auto;
    width: 300px;
    margin-right: 70px;
}
.novigation-item-icon{
    position: relative;
    min-width: 18px;
    min-height: 18px;

}
.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #dbdbdb;
}
.navigation-link-button {
    background-color: #756157;
    margin-left: 20px;
    display: block;
    width: 130px;
}
.email {
    margin: 0;
    padding: 17px 22px 17px 22px;
    font: inherit;
    font-weight: 400;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 600px;
    font-size: 18px;
    line-height: 21px;

}
.aside-button {
    font-family: 'PT Sans';
    min-width: 200px;
    padding: 12px 15px;
    background-color: #82B3D3;
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.aside-button:hover {
    background-color: #68A2CA;
}
.aside-button:focus {
    background-color: #68A2CA;
}
.aside-button:active {
    color: rgba(255, 255, 255, 0.3);
}
.navigation-link-button:hover {
    background-color: #615048;
}
.navigation-link-button:active {
    background-color:#756157;
    color: rgba(255, 255, 255, 0.3);
}
.navigation-link-button:focus {
    background-color: #615048;
}
.navigation-link{
    position: relative;
    display:block;
    padding: 19px 17px;
    text-decoration: none;
    text-align: center;
    color: #000000;
}
.navigation-link-user {
    padding: 19px 20px;
}
.navigation-link-current::before {
    position: absolute;
    right: 17px;
    bottom: -1px;
    left:17px;
    height: 2px;
    background-color: #756257;
    content: "";
  }
.header-logo {
    margin-left: 70px;
    margin-right: 30px;
    margin-bottom: -10px;
}
.page-header {
    z-index: 1;
}
.main-novigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.green-circle {
    width: 20px;
    height: 20px;
    background-color: #7DB54F;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    top: 2px;
    bottom: 30px;
    z-index: 2;

}
.text-in-circle {
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.page-main {
    flex-grow: 1;
    margin-top: 0;
}
.main-title-container {
    text-align: center;
    margin-bottom: 90px;
}

.main-title {
    font-weight: 700px;
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.main-inner-text {
    margin-top: 31px;
}
.page-main-section {
    background-image: url(../images/main-mountens.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
    margin-bottom: 63px;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}
.under-img {
    margin-top: -63px;
    width: 1200px;
    height: 57px;
}

.section-info {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 91px;

}
.section-info-title-cards {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
    margin-top: 92px;
}
.bottom{
    margin-top: 103px;
}
.title-cards {
    margin-top: 0;
}
.list-item-icon {
    margin-top: 80px;
    margin-bottom: 30px;
}

.section-info-list-item {
    background-color: #83B3D31F;

}
.color-darkblue {
   background-color: #82B3D3;
   color: #fff;
}
.offer {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: block;
    margin-bottom: 29px;
    text-transform: uppercase;
}
.aside-offer {
   padding-bottom: 92px;
   padding-top: 92px;
}
.action-form {
    margin-top: 46px;
    display: flex;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;
}
.section-offer {
    text-align: center;
}
.main-aside {
    text-align: center;
    background-image: url(../images/background-blure-mountans.png);
    width: 1200px;
    height: 411px;
    color: #fff;
}
.page-main-title {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 72px;
}
.section-info-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.section-info-list-item {
    width: 400px;
    height: 384px;
}
.section-info-item-white {
    width: 400px;
    height: 384px;
}
.main-footer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-items-link{
    padding: 13px 12px;
}
.footer-contacts {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    list-style-type: none;
}
.section-info-text {
    margin-top: 30px;
    width: 230px;
    margin-right: auto;
    margin-left: auto;
}
.section-info-img {
    height: 384px;
}
.footer-logo {
    margin-right: 70px;
}
.footer-logo path {
    fill: #000;
}
.footer-logo-link:hover path {
    fill: #756157;
}
.footer-logo-link:focus path {
    fill: #756157;
}
.footer-logo-link:active path {
    fill: rgba(117, 97, 87, 0.3);
}
.button {
    padding: 9px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.product-card-button-brown {
    background-color: #756157;
}
.product-card-button-brown:hover {
    background-color: #615048;
}
.product-card-button-brown:active {
    background-color:#756157;
    color: rgba(255, 255, 255, 0.3);
}
.product-card-button-brown:focus {
    background-color: #615048;
}
.product-card-button-blue{
    background-color: #82B3D3;
}
.product-card-button-blue:hover{
    background: #68A2CA;
}
.product-card-button-blue:focus {
    background: #68A2CA;
}
.product-card-button-blue:active {
    background: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}
.product-card-button-checked{
    background-color:  #7DB54F;
}
.product-card-button-checked:hover{
    background-color: #6C9E42;
}
.product-card-button-checked:focus {
    background-color:  #6C9E42;
}
.product-card-button-checked:active {
    background: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}
.product-card-button-grey {
    background-color: #F2F2F2;
    color: #000;
    font-weight: 400;

}
.offer-user {
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
    background: #756157;
    width: 544px;
    padding: 12px 15px;
    display: block;
    margin-bottom: 93px;
    line-height: 36px;
    font-size: 20px;

}
.offer-user:hover {
    background-color: #615048;
}
.offer-user:focus {
    background-color: #615048;
}
.offer-user:active {
    background-color:#756157;
    color: rgba(255, 255, 255, 0.3);
}
.footer-number {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.footer-number:hover {
    color: #756157;
}
.footer-number:focus {
    color: #756157;
}
.footer-number:active {
    color: rgba(117, 97, 87, 0.3);
}
.footer-social-icon:hover {
    fill: #68A2CA;
}
.footer-social-icon:focus {
    fill: #68A2CA;
}
.footer-social-icon:active {
    fill:rgba(104, 162, 202, 0.3);
}
.main-inner {
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
    margin-bottom: 94px;
}
.catalog-product {
    display: flex;
    justify-content: space-between;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    padding: 54px 72px 57px 72px;

}
.filter-button {
    margin-right: 8px;
    padding: 9px 14px;
    border: 2px solid #000000;
    border-radius: 4px;
}
.filter-button:last-child {
    margin-right: 0;
}
.filter-icon{
    display: flex;
}
.main-filter {
    background-image: url(../images/section-blure-catalog.jpg);
    height: 403px;
    background-repeat: no-repeat;
}
.main-filter-container {
    padding: 35px 70px 70px 70px;

}
.catalog-filter-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.product-card-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    column-gap: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 66px;
    list-style-type: none;
    margin-right: 73px;
    margin-left: 73px;
}
.product-card-list-item {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    column-gap: 20px;
    row-gap: 16px;
    padding: 20px;
}
.product-link-img {
    grid-column: 1/-1;
    text-decoration: none;
}

.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.pagination-container{
    display: flex;
    justify-content: space-between;
    margin: 85px 0 0 73px ;
    padding: 0;
}
.product-img {
    margin-bottom: 16px;
}
.text-card {
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}
.pagination {
    display: flex;
    justify-content: flex-start;
    min-width: 370px;
    margin: 0;
    padding: 0;
    margin-right: 270px;
    list-style-type: none;
    align-items: center;

}
.pagination-link{
    display: block;
    min-width: 60px;
    min-height: 60px;
    font-style: 20px;
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 12px;
    background-color: #82B3D3;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;
}
.pagination-item {
    margin-right: 8px;
}
.pagination-item:last-child{
    margin-right: 0;
}
.pagination-checked {
    color:#000;
    background-color: #F2F2F2;;
}


.product-card{
    margin-bottom: 119px;
}
.product-card-button {
    display: block;
}
.inner-header-title {
    margin-bottom: 10px;
    color: #fff;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}
.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style-type: none;

}
.breadcrumbs-item{
    margin-right: 10px;
}
.breadcrumbs-item-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #fff;
}
.hous {

}
.arrow {
    display: inline-block;
    background-image: url(../images/icons/Strelka\ right.svg);
    width: 6px;
    height: 8px;

}
.inner-header {
    margin-bottom: 40px;
}
.main-inner-aside {
    text-align: center;
}

.catalog-filter-group {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}

.catalog-products {
    background-image: url(../images/section-blure-catalog.jpg);
    background-repeat: no-repeat;
    width: 1200px ;
    height: 403px ;
}

.section-cards-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-right: auto;

}
.select-control {
    appearance: none;
    display: block;
    margin-right: 70px;
    margin-left: 51px;
    width: 160px;
}

.product-card-title {
    color: #000000;
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.catalog-filter-title {
    font-weight: 700px;
    font-size: 20px;
    line-height: 26px;
}
.navigation-link-current::before {
    position: absolute;
    right: 17px;
    bottom: 0;
    left: 17px;
    height: 2px;
    background-color:#756257;
    content: "";
  }
  .pagination-text-col {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
