@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #fff;
}
.navigation-list {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    width: 450px;
}
.navigation-user{
    max-width: 300px;
    margin-left: auto;
}
.main-novigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.page-main {
    flex-grow: 1;
}
.main-title-container {
    text-align: center;
}

.main-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.page-main-section {
    background-image: url(../images/main-mountens.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}

.section-info {
    font-size: 18px;
    line-height: 21px;

}
.section-info-title-cards {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.section-info-list-item {
    background-color: #83B3D31F;
}
.color-darkblue {
   background-color: #82B3D3;
   color: #fff;
}
.offer {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.section-offer {
    text-align: center;
}
.main-aside {
    text-align: center;
    background-image: url(../images/background-blure-mountans.png);
    width: 1200px;
    height: 411px;
    color: #fff;
}
.page-main-title {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 72px;
}
.section-info-list{
    margin: 0;
    padding: 0;
}
.section-info-list{
    display: flex;
    flex-wrap: wrap;

}
.section-info-list-item {
    width: 400px;
    height: 384px;
}
.section-info-item-white {
    width: 400px;
    height: 384px;
}
.main-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.footer-contacts {
    margin: 0;
    padding: 0;
}

.button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
}
.footer-number {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}
.main-inner {
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}
.catalog-product {
    display: flex;
    justify-content: space-evenly;
}
.filter-container{
    display: flex;
    justify-content: space-evenly;
}
.main-filter {
    background-image: url(../images/section-blure-catalog.jpg);
}
.product-card-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.pagination {
    display: flex;
    margin: 0;
    padding: 0;
}
.product-card-button {
    display: block;
}
.inner-header-title {
    color: #fff;
}
.main-inner-aside {
    text-align: center;
}

.catalog-filter-group {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}

.catalog-products {
    background-image: url(../images/section-blure-catalog.jpg);
    background-repeat: no-repeat;
    width: 1200px ;
    height: 403px ;
}

.section-cards-title {
    font-weight: 700;
    font-size: 30px;
    line height: 36px;
}

.product-card-title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
